.header-container{background:#fff;width:100%;z-index:1;}
.logo{float:left;margin-bottom:10px;margin-top:12px;max-width:400px;}
.logo img{max-width:100%;}
.header-right{float:right;}
.header-right nav{clear:right;}
.form-search{float:right;width:240px;}
.form-search img{float:left;margin-top:25px;}
.form-search form{background:#f7f5f5;border:1px solid #cdcacc;width:176px;height:27px;margin-top:47px;position:relative;float:right;}
.form-search .input{outline:none;background:#f7f5f5;border:none;font-size:10px;font-style:italic;height:25px;padding:4px 7px;width:156px;}
.form-search .btn-1{outline:none;background:#aaa9a9 url(../img/ico-search.png) 0 0 no-repeat;border:none;display:block;height:25px;position:absolute;right:0;text-indent:-9999px;top:0;width:18px;}
.form-search .btn-1:hover{background-color:#f3c035;}
.menu-top{color:#6b859f;float:right;font-size:14px;margin:13px 0 8px;padding:0;text-transform:uppercase;}
.menu-top li{float:left;line-height:1;position:relative;}
.menu-top a{color:#0075c6;display:inline-block;padding:0 5px 0 6px;}
.menu-top a:hover,
.menu-top > .active > a{color:#f3c035;}
.menu-top ul{background:#004e83;border-radius:3px;display:none;left:0;list-style:none;margin:0;min-width:180px;padding:12px 2px 2px 2px;position:absolute;text-transform:none;top:100%;z-index:10;}
.menu-top ul:before{background:#fff;border-radius:3px 3px 0 0;content:"";height:10px;left:0;position:absolute;top:0px;width:100%;z-index:-2;}
.menu-top ul li{float:none;}
.menu-top ul a{color:#fff;display:block;padding:10px 14px;}
.menu-top ul a:hover,
.menu-top ul .active a{background:#fff;color:#004e83;}
.menu-top li:hover ul{display:block;}
.menu-top > .current_page_ancestor > a,
.menu-top > .current_page_item > a{color:#f3c035;}
.menu-top ul .current_page_ancestor a,
.menu-top ul .current_page_item a{background:#fff;color:#004e83;}
.menu .current_page_ancestor:after,
.menu .current_page_item:after,
.menu .current-menu-item:after,
.menu .current-page-ancestor:after{background:#fff;bottom:0;content:"";left:0;height:0;position:absolute;transition:all .3s;width:100%;z-index:0;height:100%;}
.menu > .current_page_item > a,
.menu > .current_page_item > a,
.menu > .current-menu-item > a,
.menu > .current-page-ancestor > a{color:#d67002;}
.menu .current_page_ancestor a:before,
.menu .current_page_item a:before,
.menu .current-menu-item a:before,
.menu .current-page-ancestor a:before{width:0;}
.nav{background:#f3c035;border-radius:5px;-webkit-box-shadow:2px 2px 3px 0 #88a1ab;box-shadow:2px 2px 3px 0 #88a1ab;position:relative;z-index:1;}
.menu{font-family:'Montserrat',sans-serif;font-size:15px;margin:0;padding:0;text-transform:uppercase;position:relative;}
.menu li{float:left;position:relative;text-align:center;}
.menu li.last{float:right;}
.menu li:after,
.menu .active:after{background:#fff;bottom:0;content:"";left:0;height:0;position:absolute;transition:all .3s;width:100%;z-index:0;}
.menu li:hover:after,
.menu .active:after{height:100%;}
.menu > li.first:after{border-radius:5px 0 0 5px;}
.menu > li.last:after{border-radius:0 5px 5px 0;}
.menu > li:hover > a,
.menu > .active > a,
.menu ul a:hover{color:#d67002;}
.menu li:hover a:before,
.menu .active a:before{width:0;}
.menu a{color:#00538c;display:block;padding:12px 0;position:relative;z-index:1;}
.menu a:before{background:#e2b231;content:"";height:25px;left:0;position:absolute;top:10px;width:1px;}
.menu .first a:before{width:0;}
.menu ul{background:#f3c035;border-radius:0 0 5px 5px;display:none;font-size:13px;margin:0;min-width:210px;padding:0;position:absolute;text-transform:capitalize;}
.menu ul li{float:none;text-align:left;}
.menu ul a,
.menu ul .last a{border-bottom:1px solid #e2b231;padding:10px 20px;}
.menu ul a:before{display:none;}
ul[class*="list"]{list-style:none;margin:0;padding:0;}
.footer-container{background:#005cb9;color:#fff;font-size:11px;line-height:1.7;}
.footer-container a{color:#fff;}
.footer-container a:hover{color:#f0cc6a;}
.footer-top{border-bottom:1px solid #004d98;border-top:1px solid #88b3de;padding:20px 0 16px;}
.footer-top .group-1{border-right:1px solid #036bd5;float:left;width:670px;}
.footer-top .links{float:left;width:60%;}
.footer-top .list-link li{float:left;padding-right:15px;width:50%;}
.footer-top .contact-us{float:left;width:190px;}
.footer-top .contact-us p{margin:0;}
.footer-top .contact-us a{color:#f0cc6a;text-decoration:underline;}
.footer-top .contact-us a:hover{color:#fff;}
.footer-top .group-2{float:right;padding-left:37px;width:215px;}
.subscribe{float:left;margin-top:20px;padding-right:8px;width:304px;}
.subscribe-title{background:url(../img/mail.png) 0 0 no-repeat;padding:0 0 15px 70px;}
.subscribe-title p{margin:0;}
.subscribe .input{background:#c9d2db;border:none;border-radius:3px;box-shadow:1px 1px 2px 0 #adb6bf inset;font-size:11px;font-style:italic;height:22px;padding:5px 10px;width:182px;}
.subscribe .input::-webkit-input-placeholder{color:#8b8b8c;}
.subscribe .input:-moz-placeholder{color:#8b8b8c;}
.subscribe .input::-moz-placeholder{color:#8b8b8c;}
.subscribe .input:-ms-input-placeholder{color:#8b8b8c;}
.subscribe .btn-6{background:#f3c035;border-radius:3px;box-shadow:1px 1px 2px 0 #c89e2c inset;color:#fff;height:22px;line-height:22px;}
.logos{float:left;margin-top:-8px;width:167px;}
.logos a{display:inline-block;margin-left:1px;}
.logos img{border-radius:3px;}
.footer-bottom{background:#01243c;color:#68686b;}
.copy-right{float:left;max-width:800px;padding:12px 0;}
.footer-bottom a{color:#68686b;}
.footer-bottom a:hover{color:#fff;}
.footer-bottom p{margin:0;}
.verz{background:url(../img/logo-verz.png) right 0 no-repeat;color:#fff;display:inline-block;font-weight:bold;padding-right:45px;}
.social{float:right;margin-top:8px;max-width:160px;}
.list-social li{float:left;margin-left:6px;}
.list-social a{background:url(../img/social.png) 0 0 no-repeat;display:block;height:19px;transition:all .3s;width:19px;}
.list-social .fb a:hover{background-position:0 -19px;}
.list-social .tw a{background-position:-25px 0;}
.list-social .tw a:hover{background-position:-25px -19px;}
.list-social .lk a{background-position:-49px 0;}
.list-social .lk a:hover{background-position:-49px -19px;}
.title-2{color:#98c8f8;font-family:Arial,Helvetica,sans-serif;font-size:12px;margin:0;}
body{background:#fff}
h1,
h2,
h3,
h4,
h5,
h6{font-family:'Montserrat',sans-serif;}
address{font-style:normal;margin:0}

.side-left ul{    padding: 0;  list-style: none;  margin: 0;}
.side-left .panel-title a{    color: #000;  font-size: 15px;}
a.collapsed i:before {    content: "\f055";  }